---
layout: default
---
<div class="mdl-grid portfolio-max-width">
  {% for post in site.posts %}
    {% if post.has_img %}
      <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-coltablet mdl-card mdl-shadow--4dp">
        <div class="mdl-card__media mdl-cell mdel-cell--12-col-tablet">
          <img class="article-image" src="{{ post.img }}" border="0" alt="{{ post.title }}" />
        </div>
        <div class="mdl-cell mdl-cell--8-col">
          <h2 class="mdl-card__title-text">{{ post.title }}</h2>
          <div class="mdl-card__supporting-text padding-top">
            <span>Posted {{ post.date | date: '%B %d, %Y'}}</span>
            <div id="tt1" class=" icon material-icons portfolio-share-btn">share</div>
            <div class="mdl-tooltip" for="tt1">
                Share via social media
            </div>
          </div>
          <div class="mdl-card__supporting-text no-left-padding article-content">
              <p>{{ post.excerpt }}</p>
              <p>Tags:
                {% for tag in post.tags %}
                  <a href="#">#{{ tag }}</a>
                {% endfor %}
              </p>
          </div>
          <div class="mdl-card__actions mdl-card--border read-article">
            <a  class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ site.baseurl }}{{ post.url }}">Read More</a>
          </div>
        </div>
      </div>
    {% else %}
      <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{{ post.title }}</h2>
        </div>
        <div class="mdl-card__supporting-text article-content">
          <span>Posted {{ post.date | date: '%B %d, %Y'}}</span>
          <div id="tt2" class=" icon material-icons portfolio-share-btn">share</div>
          <div class="mdl-tooltip" for="tt2">
              Share via social media
          </div>
          <p>{{ post.excerpt }}</p>
          <p>Tags:
            {% for tag in post.tags %}
              <a href="#">#{{ tag }}</a>
            {% endfor %}
          </p>
        </div>
        <div class="mdl-card__actions mdl-card--border read-article">
          <a  class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ site.baseurl }}{{ post.url }}">Read More</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<script type="text/javascript">
  var blog = document.getElementById('blog');
  blog.className += " is-active"
</script>
