body {
	background-color: #333;
	color: #bbb;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

a {
	color: #5ae;
}

a:active, a:hover, a:visited, a:link {
	text-decoration: none;
	color: #5ae;
}

a:hover {
	opacity: 0.7;
}

h1 {
	color: #fff;
}

h2, h3 {
	color: #eee;
}

h4 {
	color: #ddd;
}

table {
	margin: auto;
}

td {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

ul {
	padding: 0;
	margin: 0;
	list-style-top: none;
	list-style: none;
}

img {
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 12px 50px 2px black;
}

header {
	width: 100%;
}

nav {
	margin: auto;
	position:fixed;
	height: 75px;
	background-color: #000;
	width: 100%;
	z-index: 5000;
}

nav ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
	background-color: #000;
}

nav li {
	display: inline-block;
	padding: 20px;
	font-size: 20px;
}

header {
	margin: auto;
}

#main, .footer {
	background-color: #333;
	padding-left: 20%;
	padding-right: 20%;
	display: block;
	overflow: auto;
	padding-bottom: 25px;
}

#welcome {
	padding-top: 100px;
}

#hello {
	margin: auto;
	width: 500px;
}

#contact li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

.posts, .post {
	text-align: left;
}

i.fa {
	color: white;
	font-size: 60px;
	padding-left: 7px;
	padding-right: 7px;
}

i.fa:hover {
	opacity: 0.7;
}
