body
{
	background-color: #333;
	color: #bbb;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h1, h2, h3
{
	color: #fff;
}

table
{
	margin: auto;
}

td
{
	padding: 10px;
}

ul
{
	padding: 0;
	margin: 0;
	list-style-top: none;
	list-style: none;
}

#container
{
	padding-left: 20%;
	padding-right: 20%;
}

#header ul
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#header li
{
	display: inline-block;
	padding: 20px;
	font-size: 20px;
}

#about
{
	margin: auto;
	width: 500px;
}

#contact li
{
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

i.fa
{
	color: white;
	font-size: 75px;
	padding-left: 5px;
	padding-right: 5px;
}

i.fa:hover
{
	opacity: 0.5;
}