<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <!-- MATERIAL: -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.brown-blue.min.css" />
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

    <!-- SVGs -->
    <script src="https://use.fontawesome.com/9f8588c20b.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon-16x16.png" sizes="16x16" />
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
     <header class="mdl-layout__header mdl-layout__header--scroll portfolio-header">
        <div class="mdl-layout__header-row portfolio-logo-row">
          <span class="mdl-layout__title">
            <span class="mdl-layout__title">{{ site.name }}</span>
            <span class="mdl-layout__title portfolio-subtext">{{ site.description }}</span>
          </span>
        </div>
        <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
          <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" id="portfolio" href="{{ site.baseurl }}/">Portfolio</a>
            <a class="mdl-navigation__link" id="about" href="{{ site.baseurl }}/about">About</a>
            <a class="mdl-navigation__link" id="blog" href="{{ site.baseurl }}/blog">Blog</a>
            <!-- <a class="mdl-navigation__link" id="music" href="{{ site.baseurl }}/music">Music</a> -->
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{ site.baseurl }}/">Portfolio</a>
            <a class="mdl-navigation__link" href="{{ site.baseurl }}/about">About</a>
            <a class="mdl-navigation__link" href="{{ site.baseurl }}/blog">Blog</a>
            <!-- <a class="mdl-navigation__link" href="{{ site.baseurl }}/music">Music</a> -->
        </nav>
      </div>
      <div class="demo-ribbon"></div>
      <main class="mdl-layout__content demo-main">
        <div class="page-content">
          {{ content }}
        </div>
      </main>
      <footer class="mdl-mega-footer">
        <div class="mdl-mega-footer__left-section portfolio-footer">
          {% include svg-icons.html %}
        </div>
      </footer>
    </div>
</html>
