<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <!-- MATERIAL: -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- SVGs -->
    <script src="https://use.fontawesome.com/9f8588c20b.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
     <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">{{ site.name }}</span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <div class="mdl-navigation__link">{{ site.description }}</div>
              <!-- <a class="mdl-navigation__link" href="{{ site.baseurl }}/">Home</a>
              <a class="mdl-navigation__link" href="{{ site.baseurl }}/blog">Blog</a>
              <a class="mdl-navigation__link" href="{{ site.baseurl }}/music">Music</a>
              <a class="mdl-navigation__link" href="{{ site.baseurl }}/mcdaid_dennis_resume.pdf">Resume</a>
              <a class="mdl-navigation__link" href="#contact">Contact</a> -->
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{ site.baseurl }}/">Home</a>
            <a class="mdl-navigation__link" href="{{ site.baseurl }}/blog">Blog</a>
            <a class="mdl-navigation__link" href="{{ site.baseurl }}/music">Music</a>
            <a class="mdl-navigation__link" href="{{ site.baseurl }}/mcdaid_dennis_resume.pdf">Resume</a>
            <a class="mdl-navigation__link" href="#contact">Contact</a>
        </nav>
        </div>
      <main class="mdl-layout__content">
        <div class="page-content" style="padding-left: 100px"></div>

        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__left-section">
            {% include svg-icons.html %}
          </div>
        </footer>
      </main>
    </div>
</html>
